<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AliyunClientId</key>
	<string>gZPCb85UYJfr7daj</string>
	<key>AliyunClientSecret</key>
	<string>0wQXNYFxXGwlIHC5PcXNDueAVrVAty</string>
	<key>AliyunOAuthBaseURL</key>
	<string>https://bj27238.api.aliyunpds.com</string>
	<key>AliyunRedirectURI</key>
	<string>aliyun-auth-scheme://oauth-callback</string>
	<key>AliyunScope</key>
	<string>user:base,file:all:read,file:all:write</string>
	<key>BaiduClientId</key>
	<string>37MPKvV2gjL7SKHTwoErDDlOEWCO9Pi4</string>
	<key>BaiduClientSecret</key>
	<string>cUTK7dZv9HCTCuNuD362xGZqueyGmwPD</string>
	<key>BaiduRedirectURI</key>
	<string>bd120615406://oauth-callback</string>
	<key>INAlternativeAppNames</key>
	<array>
		<dict>
			<key>INAlternativeAppName</key>
			<string>耳机熊</string>
		</dict>
		<dict>
			<key>INAlternativeAppName</key>
			<string>Earphone Bear</string>
		</dict>
	</array>
	<key>NSSiriUsageDescription</key>
	<string>你可以使用 Siri 来播放你的音频合集</string>
	<key>BaiduScope</key>
	<string>basic,netdisk</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.entertainment</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>happyBear</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>EPUB Document</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.idpf.epub-container</string>
				<string>public.epub</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.3.0</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.senaca.AudiobookPlayer.aliyun</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>aliyun-auth-scheme</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.senaca.AudiobookPlayer.baidu</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>bd120615406</string>
				<string>com.wdh.audiobook</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>6</string>
	<key>CloudKitSyncEnabled</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Allow happyBear to access your photos for collection covers.</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconType</key>
			<string>play</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>continue_last_play_shortcut</string>
			<key>UIApplicationShortcutItemType</key>
			<string>com.senaca.AudiobookPlayer.continueLast</string>
		</dict>
	</array>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.composite-content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Electronic Publication (EPUB)</string>
			<key>UTTypeIdentifier</key>
			<string>org.idpf.epub-container</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>epub</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/epub+zip</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
</dict>
</plist>
